@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);
.nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.nav-list{
    text-decoration: none;

}

.nav-link{
    font-size:large;
}
.inicial{
    text-align: center;
    margin-bottom:  20px;
    margin-top:  20px;
}
.innerImg{
    text-align: center;
}
.innerGridText{
    vertical-align: bottom;
}
.imagem{
    width: 70%;
    height: 70%;
}
.arrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    position: relative;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: -11%;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: -82%;
}
.arrowButton{
    border-style: none;
    background-color: transparent;
}
.containerExternoLogin{
    margin-left: 50%;
    margin-top: 5%;
    transform: translate(-50%);
    border: 2px solid black;
    height: 100%;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.loginText{
    text-align: center;
    margin-bottom:  5%;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%);
}
.buttons{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.inputLoginText{
    display: flex;
    flex-direction: column;
}
.col-sm-10{
    max-width: 50%;
}
.teste{
    text-align: center;
}
.rating {
    border: none;
    margin-right: 49px
}


.rating>[id^="star"] {
    display: none
}

.rating>label:before {
    margin: 5px;
    font-size: 2.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005"
}

.rating>.half:before {
    content: "\f089";
    position: absolute
}

.rating>label {
    color: #ddd;
    float: right
}

.rating>[id^="star"]:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #FFD700
}

.rating>[id^="star"]:checked+label:hover,
.rating>[id^="star"]:checked~label:hover,
.rating>label:hover~[id^="star"]:checked~label,
.rating>[id^="star"]:checked~label:hover~label {
    color: #FFED85
}

.reset-option {
    display: none
}

.reset-button {
    margin: 6px 12px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase
}
.preço
{
  margin-bottom:  20px;

}
