<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="http://localhost:3000/css/styles.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Font Awesome -->

    <!-- Progress Bar -->

    <!-- Parallax -->



    <script>

    function addfile(){
     document.getElementById("mais").innerHTML += "<input class=\"form-control-lg\" type=\"file\" name=\"photos\" />";
 };
    $(document).ready(function() {
      $.get('/sessao', function(res) {
console.log(res.length)
if(res.length>0){
document.getElementById("links").innerHTML+="<a class=\"nav-link\" href=\"http://localhost:3000/portfolio\">Portfólio</a>" +"<a class=\"nav-link\" href=\"http://localhost:3000/compras\">Compras</a>" + "<a class=\"nav-link\" href=\"http://localhost:3000/vendas\">Vendas</a>" +"<a class=\"nav-link\" href=\"http://localhost:3000/autenticacao/logout\">Logout</a>"
document.getElementById("login").outerHTML = "";
document.getElementById("cadastro").outerHTML = "";
}
})
});



       </script>
    <title>Página Inicial</title>
</head>
<body>



    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="http://localhost:3000/images/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">WeArt
          </a>
          <div class="" id="navbarNavAltMarkup">
            <nav class="nav nav-fill" id="links">
              <a class="nav-link" href="http://localhost:3000/">Explorar</a>
              <a class="nav-link" href="http://localhost:3000/autenticacao" id="login">Login</a>
              <a class="nav-link" href="http://localhost:3000/cadastro" id="cadastro">Cadastro</a>
            </nav>
          </div>
        </div>
      </nav>
    </header>





    <div class="container-sm ">  <div class="p-3 border bg-light inicial"><h1>Nome do artista</h1></div></div>

<form action="/portfolio/envio" method="post" id="portfolio" >
    <div class="container-sm">
      <div class="col-9"><div class="p-3 border bg-light inicial"><textarea class="form-control"  placeholder="Descrição" id="descricao" rows="3"></textarea></div></div>
    </div>

    <div class="container ">
    <div class="row ">
      <div class="col-2">
       <div class="p-3 border Secondary preço"><input type="text" class="form-control" id="preco1" placeholder="Preço 1" name="preco1"></div>
      </div>
      <div class="col-2">
        <div class="p-3 border Secondary preço"><input type="text" class="form-control" id="preco1" placeholder="Preço 2" name="preco1"></div>
      </div>
      <div class="col-2">
        <div class="p-3 border Secondary preço"><input type="text" class="form-control" id="preco1" placeholder="Preço 3" name="preco1"></div>
      </div>
    </div>
  </div>
</form>


    <div class="container-sm">



<div class="row " id="teste">









  <div class="container-sm ">
  <div class="container"    >
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div>
        <div  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
          <div class="card"  >
            <img src="http://localhost:3000/uploads/vilac.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
          </div>
    </div>
    <div class="carousel-item">
      <div  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
        <div class="card" >
          <img src="http://localhost:3000/uploads/FIWZ4xgXEAIi4Hk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div  class="" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
        <div class="card" >
          <img src="http://localhost:3000/uploads/FIWZ4xgXEAIi4Hk.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
</div>
</div>
<div class="container-sm">

<button type="button" class="btn btn-secondary btn-circle btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><i class="bi bi-plus-square-fill fa-7x"> adicionar novo projeto</i></button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Projeto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/portfolio/envio" method="post" id="form" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nome do projeto:</label>
            <input type="text" class="form-control" id="nome">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">data do projeto:</label>
            <input id="date" type="date" id="data">
          </div>
          <input class="form-control-lg" type="file" name="photos" />
          <div id="mais">
          </div>
          <button type="button" class="btn btn-primary" onClick="addfile()">add</button>
          <button type="submit" class="btn btn-primary buttons">Enviar</button>
        </form>
      </div>

    </div>
  </div>
</div>



</div>




    <div class="container">



      </div>
    </div>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
