<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="http://localhost:3000/css/styles.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Font Awesome -->

    <!-- Progress Bar -->



    <script>
    img_array=[];

var link=window.location.pathname;
var myArr = link.split("/");

    function addfile(){



 };
    $(document).ready(function() {

$.get('/profissional/notas/'+myArr[2], function(res) {
var media=0
var valores= res.length
console.log(res.length)

  for(var i = 0; i < res.length; i++)
  {
    media=media+res[i].nota

let star="";
if(res[i].nota==0.5){star='<i class="bi bi-star-half"></i>'}
if(res[i].nota==1){star='<i class="bi bi-star-fill"></i>'}
if(res[i].nota==1.5){star='<i class="bi bi-star-fill"><i class="bi bi-star-half"></i>'}
if(res[i].nota==2){star='<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>'}
if(res[i].nota==2.5){star='<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>'}
if(res[i].nota==3){star='<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>'}
if(res[i].nota==3.5){star='<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>'}
if(res[i].nota==4){star='<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>'}
if(res[i].nota==4.5){star='<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>'}
if(res[i].nota==5){star='<i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>'}




  document.getElementById("avs").innerHTML+='<li class="nav-item border">'+'<div class="col ">'+star+'</div><div class="col">'+res[i].avaliaçao+'</div><div class="col">'+res[i].dataPedido+'</div></li>'
}

media=media/valores
document.getElementById("not").innerHTML+="Nota geral: "+media+" de "+valores+ " avaliações "

})



$.get('/prof', function(res) {
  if(res[0] != undefined){
    document.getElementById("links").innerHTML+="<a class=\"nav-link\" href=\"http://localhost:3000/portfolio\">Portfólio</a>" + "<a class=\"nav-link\" href=\"http://localhost:3000/vendas\">Vendas</a>"
  }
  else
    document.getElementById("links").innerHTML+="<a class=\"nav-link\" href=\"http://localhost:3000/validacao\">Validação</a>"
})



$.get('/sessao', function(res) {

if(res.length>0){
document.getElementById("links").innerHTML+="<a class=\"nav-link\" href=\"http://localhost:3000/compras\">Compras</a>"  + "<a class=\"nav-link\" href=\"http://localhost:3000/autenticacao/logout\">Logout</a>"
document.getElementById("login").outerHTML = "";
document.getElementById("cadastro").outerHTML = "";
}


})



$.get('/profissional/dados2/'+myArr[2], function(res) {

console.log(res)




document.getElementById("nome").innerHTML = res[0].nomeArtistico;;
document.getElementById("desc").innerHTML = res[0].Descrição;
if(res[0].Preço1!=null){
document.getElementById("preco1").innerHTML +="<form action=\"/servico\" method=\"post\" id=\"servico\" ><input type=\"hidden\" name=\"pacote\" value=\"Básico\"><input type=\"hidden\" name=\"nomeArtistico\" value="+
res[0].nomeArtistico+"><input type=\"hidden\" name=\"preco\" value="+
res[0].Preço1+"><input type=\"hidden\" name=\"profid\" value="+
res[0].profid+"><button class=\"btn\" type=\"submit\"><div class=\"p-3 border Secondary inicial \">R$: "+
res[0].Preço1+"</div></button></form>"
;
}
if(res[0].Preço2!=null){
document.getElementById("preco2").innerHTML +="<form action=\"/servico\" method=\"post\" id=\"servico\" ><input type=\"hidden\" name=\"pacote\" value=\"Intermediário\"><input type=\"hidden\" name=\"nomeArtistico\" value="+
res[0].nomeArtistico+"><input type=\"hidden\" name=\"preco\" value="+
res[0].Preço2+"><input type=\"hidden\" name=\"profid\" value="+
res[0].profid+"><button class=\"btn\" type=\"submit\" ><div class=\"p-3 border Secondary inicial \">R$: "+
 res[0].Preço2 +"</div></button></form>"
 ;
 }

 if(res[0].Preço2!=null){
document.getElementById("preco3").innerHTML +="<form action=\"/servico\" method=\"post\" id=\"servico\" ><input type=\"hidden\" name=\"pacote\" value=\"Premium\"><input type=\"hidden\" name=\"nomeArtistico\" value="+
res[0].nomeArtistico+"><input type=\"hidden\" name=\"preco\" value="+
res[0].Preço3+"><input type=\"hidden\" name=\"profid\" value="+
res[0].profid+"><button class=\"btn\" type=\"submit\" ><div class=\"p-3 border Secondary inicial \">R$: "+
res[0].Preço3 +"</div></button></form>"
;
}
});

$.get('/profissional/dados/'+myArr[2], function(res) {
for(var i = 0; i < res.length; i++)
{

  array2=res[i].imagens.split(" ");
  array2.pop();
  img_array.push(array2)



document.getElementById("teste").innerHTML+="<div class=\"col\"><div class=\"card\"><div class=\"p-3 border bg-light innerImg\"><button class=\"arrowButton left\" onclick=\"esquerda("+ i +")\"><i class=\"arrow\"></i></button><img src="+"\"/"+img_array[i][0]+"\""+
"class="+"imagem id="+"i"+i+"><button class="+"\"arrowButton right\""+"onclick="+"direita("+i+")"+" ><i class="+"arrow"+"></i></button><div class="+"innerGridText"+"><div class=\"card-body\"><h5 class=\"card-title\">Nome do projeto: <br>"+res[i].nome+"<\h5></div></div></div></div></div>"
}




})

});

i = 0;
function esquerda(indice) {


if(i<=0){i=img_array[indice].length}
i--;
document.getElementById("i"+indice).src = "/"+ img_array[indice][i];
if (i == 0) {
    i = img_array[indice].length;}
          }

function direita(indice) {

  if(i>=img_array[indice].length-1){i=-1}
  i++;
  document.getElementById("i"+indice).src = "/"+ img_array[indice][i];

                    }


       </script>
    <title>Página Inicial</title>
</head>
<body>



    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://localhost:3000/">
            <img src="http://localhost:3000/images/logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">WeArt
          </a>
          <div class="" id="navbarNavAltMarkup">
            <nav class="nav nav-fill" id="links">
              <a class="nav-link" href="http://localhost:3000/">Explorar</a>
              <a class="nav-link" href="http://localhost:3000/autenticacao" id="login">Login</a>
              <a class="nav-link" href="http://localhost:3000/cadastro" id="cadastro">Cadastro</a>
            </nav>
          </div>
        </div>
      </nav>
    </header>




    <div class="container-sm ">  <div class="p-3 border bg-light inicial"><h1><div id="nome"></div></h1></div></div>



    <div class="container-sm d-flex justify-content-center">
      <div class="col-9"><div class="p-3 border bg-light inicial"><div id="desc"></div></div></div>
    </div>



    <div class="row d-flex justify-content-center rotulo">
      <div class="col-2 ">
            <p>Básico</p>

      </div>
      <div class="col-2 ">

            <p>Intermediário</p>
      </div>
      <div class="col-2 ">
          <p>Premiun</p>
      </div>

    </div>


    <div class="row d-flex justify-content-center">
      <div class="col-2 ">

       <div id="preco1"> </div>
      </div>
      <div class="col-2">

        <div id="preco2"></div>
      </div>
      <div class="col-2">
        <div id="preco3"></div>
      </div>

    </div>
    <div class="container-sm  border bg-light inicial">
        <div class=" col-" id="not">

          </div>
      <div class=" col-">
        <ul class="scroll " id="avs">

          </ul>
          </div>
    </div>

    <div class="container-sm ">  <div class="p-3 border bg-light inicial">Projetos do artista</div></div>









<div class="container">
  <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3" id="teste">


    </div>


  </div>





















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
